body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    margin: 0;
    height: 100vh;
    font-size: 17px;
    
}
 a {
    color: inherit;
    text-decoration: none;
 }
.section-a {
    height: 200px;
    background-color: mediumorchid;
    /* border: 1px solid black; */
    padding: 0;
}

.section-b {
    height: 200px;
    background-color: mediumorchid;
    /* border: 1px solid black; */
    padding: 0;
}

.box-1 {
    display: inline-block;
    border: 1px solid black;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: violet;
    width: 500px;
}

.box-2 {
    display: inline-block;
    border: 1px solid black;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: violet;
    width: 500px;
}

.box-3 {
    display: inline-block;
    border: 1px solid black;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: violet;
    width: 500px;
}