* {
    box-sizing: border-box;
}


body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    margin: 0;
    /* font-size: 17px;  */
}

header {
    height: 100vh;
    background: url(./../imgs/4115a5a862fad1abe0160388bec5e082734b24ae.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


 a {
    color: inherit;
    text-decoration: none;
    border: 2px solid rgb(136, 7, 136);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
 }

.section-a {
    background-color: violet;
    /* border: 1px solid black; */
    padding: 20px;
}

.section-b {
    background-color: rgb(234, 176, 248);
    /* border: 1px solid black; */
    padding: 20px;
}

.section-c {
    display: inline; 
    margin: none;
    font-size: 0;
}
    


.box-1 {
    display: inline-block;
    border: 0 solid black;
    vertical-align: baseline;
    background-color: violet;
    width: calc(100%/3);
    margin: 0;
    font-size: 17px;
}
.box-2 {
    display: inline-block;
    border: 0 solid black;
    vertical-align: baseline;
    background-color: rgb(234, 176, 248);
    width: calc(100%/3);
    margin: 0;
    font-size: 17px;
}
.box-3 {
    display: inline-block;
    border: 0 solid black;
    vertical-align: baseline;
    background-color: violet;
    width: calc(100%/3);
    margin: 0;
    font-size: 17px;
}

p {
    margin: 0;
    padding: 20px;
}
h1 {
    margin-top: 0;
}