* {
    box-sizing: border-box;
}

html {
    font-size: 17px;
}

body {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    margin: 0;
    font-size: 1rem; 
}

header {
    height: 100vh;
    background-color: blueviolet;
    background: url(./../imgs/4115a5a862fad1abe0160388bec5e082734b24ae.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
}

h1 {
    margin: 0;
    color: rgb(46, 45, 45);
    text-align: center;
    font-size: 4rem;
}

 .annotation {
    color: rgb(46, 45, 45);
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 0;
 }

 a {
    color: inherit;
    text-decoration: none;
    border: 1px solid rgb(46, 45, 45);
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    background-color: orchid;
    font-weight: lighter;
 }

.section-a {
    background-color: violet;
    padding: 20px;
}

.section-b {
    background-color: rgb(234, 176, 248);
    padding: 20px;
}

p {
    margin: 0;
    padding: 20px;
}

.section-c {
    display: inline; 
    margin: none;
    font-size: 0;
    vertical-align: baseline;
}  

.box-1 {
    display: inline-block;
    border: 0 solid black;
    background-color: violet;
    width: calc(100%/3);
    margin: 0;
    font-size: 1rem;
}

.box-2 {
    display: inline-block;
    border: 0 solid black;
    background-color: rgb(234, 176, 248);
    width: calc(100%/3);
    margin: 0;
    font-size: 1rem;
}

.box-3 {
    display: inline-block;
    border: 0 solid black;
    background-color: violet;
    width: calc(100%/3);
    margin: 0;
    font-size: 1rem;
}